
.about-main .container {
    padding: 90px 55px 60px;
    border-bottom: 1px dotted #000;
}

.img-div {
    height: 100%;
    padding: 5px 175px 0 0;
}

.word-div {
    color: #000;
    font-family: cen;
    font-size: 12px;
    padding-left: 49px;
}

.word-div p {
    margin-bottom: 30px;
}

.word-div p:nth-of-type(1) {
    font-size: 14px;
}

.word-div p span {
    line-height: 28px;
}

@media (max-width: 760px) {
    .about-main .container {
        padding: 0 10px 30px;
    }

    .img-div {
        padding: 5px 10px 0;
    }

    .word-div {
        padding-top: 60px;
    }
}